<link rel="import" href="sl-footer.html">
<link rel="import" href="sl-item.html">

<script type="text/template" id="sl-items-tpl">

<article class="container">
    <form x-property="form" class="form-inline" role="form" name="addItemForm" onsubmit="return false;">

        <datalist hidden x-property="suggestionList" id="suggestionList"></datalist>

        <div class="form-group">
            <input class="form-control"
                x-property="label"
                name="label"
                placeholder="label"
                title="the item's label"
                list="suggestionList"
                autocomplete="off"
                required>
        </div>

        <div class="form-group">
            <input class="form-control"
                name="quantity"
                placeholder="quantity"
                title="the item's quantity"
                type="number"
                min="0">
        </div>

        <input class="btn btn-default" type="submit" value="add" title="add the item">
    </form>

    <br>

    <div class="panel panel-default">
        <div class="panel-heading">Items</div>
        <ul x-property="list" class="list-group"></ul>
    </div>

</article>

<sl-footer>
    <button id="clearAllItemsBtn" class="btn btn-default navbar-btn" type="button">Clear all</button>
    <button id="clearBoughtItemsBtn" class="btn btn-default navbar-btn" type="button">Clear bought items</button>
</sl-footer>

</script>

<script>
    (function() {

        var owner = document._currentScript.ownerDocument;
        var tpl = owner.querySelector('#sl-items-tpl').textContent;

        xtag.register('sl-items', {
            mixins: ['templated'],
            lifecycle: {
                created: function() {
                    this.applyTemplate(tpl);
                },
                inserted: function() {
                    this.cqrs = cqrs({
                        owner: 'sl-items'
                    });

                    this.cqrs.on('itemAdded').invoke(this.addItem.bind(this));
                    this.cqrs.on('itemRemoved').invoke(this.removeItem.bind(this));
                    this.cqrs.on('itemsRemoved').invoke(this.removeItems.bind(this));
                    this.cqrs.on('itemsCleared').invoke(this.clearItems.bind(this));
                    this.cqrs.on('itemMarkedBought').invoke(this.markItemBought.bind(this));
                    this.cqrs.on('itemMarkedNotBought').invoke(this.markItemNotBought.bind(this));
                    this.cqrs.on('itemQuantityCorrected').invoke(this.correctItemQuantity.bind(this));

                    this.cqrs.on('suggestionAdded').invoke(this.addSuggestion.bind(this));
                    this.cqrs.on('suggestionsCleared').invoke(this.clearSuggestions.bind(this));

                    this.loadItems();
                    this.loadSuggestions();

                    this.xtag.label.focus();
                },
                removed: function() {
                    this.cqrs.destroy();
                }
            },
            events: {
                'submit': function(evt) {
                    evt.preventDefault();
                    evt.stopPropagation();
                    evt.currentTarget.sendAddItem();
                },
                'click:delegate(#clearAllItemsBtn)': function(evt) {
                    evt.preventDefault();
                    evt.stopPropagation();
                    evt.currentTarget.sendClearItems();
                },
                'click:delegate(#clearBoughtItemsBtn)': function(evt) {
                    evt.preventDefault();
                    evt.stopPropagation();
                    evt.currentTarget.sendClearBoughtItems();
                }
            },
            methods: {
                loadItems: function() {
                    return this.cqrs.call('listItems').then(function(items) {
                        items.forEach(function(item) {
                            this.cqrs.publish('itemAdded', item).then(null, function(error) {
                                var msg = error && error.message ? error.message : error;
                                console.warn(error);
                                alert(msg);
                            });
                        }, this);
                    }.bind(this)).then(null, function(error) {
                        var msg = error && error.message ? error.message : error;
                        console.warn(error);
                        alert(msg);
                    });
                },
                loadSuggestions: function() {
                    return this.cqrs.call('listSuggestions').then(function(suggestions) {
                        suggestions.forEach(function(suggestion) {
                            this.cqrs.publish('suggestionAdded', suggestion).then(null, function(error) {
                                var msg = error && error.message ? error.message : error;
                                console.warn(error);
                                alert(msg);
                            });
                        }, this);
                    }.bind(this)).then(null, function(error) {
                        var msg = error && error.message ? error.message : error;
                        console.warn(error);
                        alert(msg);
                    });
                },
                sendAddItem: function() {
                    this.cqrs.send('addItem', {
                        label: this.xtag.form.label.value,
                        quantity: this.xtag.form.quantity.value
                    }).then(function() {
                        this.xtag.form.label.value = '';
                        this.xtag.form.quantity.value = '';
                    }.bind(this), function(error) {
                        var msg = error && error.message ? error.message : error;
                        console.warn(error);
                        alert(msg);
                    });
                },
                sendClearItems: function() {
                    if (confirm('Do you really want to clear all items?')) {
                        this.cqrs.send('clearItems').then(null, function(error) {
                            var msg = error && error.message ? error.message : error;
                            console.warn(error);
                            alert(msg);
                        });
                    }
                },
                sendClearBoughtItems: function() {
                    if (confirm('Do you really want to clear all bought items?')) {
                        this.cqrs.send('clearBoughtItems').then(null, function(error) {
                            var msg = error && error.message ? error.message : error;
                            console.warn(error);
                            alert(msg);
                        });
                    }
                },
                addItem: function(item) {
                    var slItem = document.createElement('sl-item');
                    slItem.id = item.id;
                    slItem.label = item.label;
                    slItem.quantity = item.quantity;
                    slItem.bought = item.bought;
                    this.xtag.list.appendChild(slItem);
                },
                clearItems: function clearItemsList(payload, metadata) {
                    var children = [].concat.apply([], this.xtag.list.querySelectorAll('sl-item'));
                    children.forEach(function(slItem) {
                        slItem.parentNode.removeChild(slItem);
                    });
                },
                removeItems: function(payload) {
                    payload.itemIds.forEach(function(itemId) {
                        var slItem = this.xtag.list.querySelector('#' + itemId);
                        if (slItem) {
                            slItem.parentNode.removeChild(slItem);
                        }
                    }, this);

                },
                removeItem: function(item) {
                    var slItem = this.xtag.list.querySelector('#' + item.id);
                    if (slItem) {
                        slItem.parentNode.removeChild(slItem);
                    }
                },
                markItemBought: function(item) {
                    var slItem = this.xtag.list.querySelector('#' + item.id);
                    if (slItem) {
                        slItem.bought = true;
                    }
                },
                markItemNotBought: function(item) {
                    var slItem = this.xtag.list.querySelector('#' + item.id);
                    if (slItem) {
                        slItem.bought = false;
                    }
                },
                correctItemQuantity: function(item) {
                    var slItem = this.xtag.list.querySelector('#' + item.id);
                    if (slItem && slItem.quantity != item.newQuantity) {
                        slItem.quantity = item.newQuantity;
                    }
                },
                addSuggestion: function(suggestion) {
                    var option = document.createElement('option');
                    option.textContent = suggestion;
                    this.xtag.suggestionList.appendChild(option);
                },
                clearSuggestions: function clearItemsList(payload, metadata) {
                    var children = [].concat.apply([], this.xtag.suggestionList);
                    children.forEach(function(child) {
                        child.parentNode.removeChild(child);
                    });
                }
            }
        });
    }());
</script>